<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
<head>
    <title>Создание нового клиента</title>
</head>
<body>
<ul>
    <li>
        <a href="/">Вернуться на главную страницу</a>
    </li>
</ul>
<div class="top">
    <form action="clients" method="post">
        <label>
            Имя: <br/>
            <input type="text" name="name">
        </label>
        <br/>
        <label>
            Адрес: <br/>
            <input type="text" name="street">
        </label>
        <br/>
        <label>
            Номер телефона: <br/>
            <input type="text" name="phone-number">
        </label>
        <br/><br/>
        <input type="submit" value="Создать">
    </form>
</div>
</body>
</html>